# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.playground/UserData/

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata/
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Secrets & local config
.env
.env.*
*.p12
*.mobileprovision
